aiofiles
aiohttp
asyncio
Abg==2.3.1
beautifulsoup4
pillow
psutil
pykeyboard
pyrofork
python-dotenv
pyyaml
pyrogram==2.0.106
pymongo
motor
unidecode
requests
dnspython
tgcrypto==1.2.2
asyncio
pyyaml
python-dotenv
lexica-api
deep-translator
pycgi
apscheduler
Flask
uvloop
psutil
langdetect
MukeshAPI
