BOT_TOKEN=7971384696:AAHu0sjjwIGRElUmGFSwbh4b92InLOlVvzc
OWNER_ID=5050578106
MONGO_URL=mongodb+srv://asrushfig:2003@cluster0.6vdid.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=ll_VISHUU_ll
